{% extends "base.html" %}

{% block content_body %}
<h1>Change Your Password</h1>

<form action="{% url 'index' %}" method="get">{% csrf_token %}
  <div class="form-group">
    <label for="npwd"><h3>New Password</h3></label>
    <input type="password" class="form-control" id="npwd" placeholder="enter new password" name="new_pwd" required>
  </div>
  <div class="form-group">
    <label for="cpwd"><h3>Password:</h3></label>
    <input type="password" class="form-control" id="cpwd" placeholder="enter password again" name="pwd" required>
  </div>
  <center>
    <button type="submit" class="btn btn-default forn-control">Save</button>
    <button type="Cancel" class="btn btn-default forn-control">Cancel</button>
  </center>
</form>

{% endblock %}
