{% extends "base.html" %}

{% block content_body %}
	{% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
		</ul>
	{% endif %}
	<table>
		<tr>
			<td>
  <h1 align="center">User Registration</h2>
  <form action="{% url 'user_registration' %}" method="post">{% csrf_token %}
		<div class="form-group">
			<label for="first_name">First Name</label>
			<input type="text" class="form-control" id="first_name" placeholder="Enter FirstName" name="first_name" required>
		</div>
		<div class="form-group">
			<label for="last_name">Last Name</label>
			<input type="text" class="form-control" id="last_name" placeholder="Enter LastName" name="last_name">
		</div>
		<div class="form-group">
			<label for="gender">Gender</label>
			<select class="form-control" id="gender" name="gender" required>
			<option>FEMALE</option>
			<option>MALE</option>
		  </select>
  	 </div>

		 <div class="form-group">
			<label for="dob">Date of Birth</label>
			<input type="date" class="form-control" id="dob" placeholder="dd/mm/yy" name="dob" required>
		</div>
		<div class="form-group">
      <label for="bld_grp">Blood Group:</label>
      <select class="form-control" id="bld_grp" name="blood_group" required>
        <option>A +ve</option>
				<option>A -ve</option>
				<option>B +ve</option>
				<option>B -ve</option>
        <option>O +ve</option>
				<option>O -ve</option>
        <option>AB +ve</option>
        <option>AB -ve</option>
      </select>
		</div>
		<div class="form-group">
			<label for="mobile">Mobile Number</label>
			<input type="mobile" class="form-control" id="mobile" placeholder="Enter mobile number" name="mobile" required>
		</div>
		<div class="form-group">
			<label for="alt_mobile">Alternate Mobile Number</label>
			<input type="mobile" class="form-control" id="alt_mobile" placeholder="Enter alternate mobile number" name="alternate_mobile">
		</div>
		<div class="form-group">
			<label for="email">Email:</label>
			<input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
		</div>
		<div class="form-group">
			<label for="address">Address</label>
			<textarea class="form-control" id="formatted_address" name="formatted_address" required></textarea>
		</div>

	 <div class="form-group">
		 <label for="password">Password</label>
		 <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
	 </div>
	 <div class="form-group">
		 <label for="confirm_password">Confirm Password</label>
		 <input type="password" class="form-control" id="confirm_password" placeholder="Enter password again" name="confirm_password" required>
	 </div>
 </td>
 	<td>
	 <div id="map" style="position: absolute; overflow:None; height:30%; width:25%;"></div>

	</td>
	</tr>
</table>

	 <div align="center">
	 	<button type="submit" class="btn btn-default" style="margin-left;">Submit</button>
   	<button type="reset" class="btn btn-default" style="margin-left;">Reset</button>
  </div>
	<input type="hidden" id="latitude" name="latitude">
	<input type="hidden" id="longitude" name="longitude">
  </form>
{% endblock %}
