{% extends "base.html" %}

{% block content_body %}
<center>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
</center>

<h1 align='center'> My Profile</h1>
{% if request.user.is_authenticated %}
  <div class='table' align="center">
    <table>
      <tr class>
        <td class='h'>Full Name</td>
        <td>{{ request.user.username }}</td>
      </tr>
      <tr>
        <td class='h'>Gender</td>
        <td>{{ gender }}</td>
      </tr>
      <tr>
        <td class='h'>Date of Birth</td>
        <td>{{ dateOfBirth }}</td>
      </tr>
      <tr>
        <td class='h'>Blood Group</td>
        <td>{{ bloodGroup }}</td>
      </tr>
      <tr>
        <td class='h'>Mobile Number</td>
        <td>{{ mobileNumber }}</td>
      </tr>
      {% if alternateNumber != "" %}
        <tr>
          <td class='h'>Alternate Number</td>
          <td>{{ alternateNumber }}</td>
        </tr>
      {% endif %}
      <tr>
        <td class='h'>Email id</td>
        <td>{{ request.user.email }}</td>
      </tr>

    </table>
  <a href="{% url 'edit_profile' %}" class="btn btn-primary btn-md"  align="center">Edit Profile</a>
</div>
{% endif %}

{% endblock %}
