{% extends "base.html" %}

{% load  static %}


{% block content_body %}

<div class="navbar navbar-inverse navbar-fixed-left">
  <table align="margin-left">
  <ul class="nav navbar-nav">
   <li><a href="{% url 'raise_request' %}">REQUEST HELP</a></li>
   <li><a href="{% url 'user_requests' %}">MY REQUESTS</a></li>
   <li><a href="{% url 'user_feedback' %}">GIVE FEEDBACK</a></li>
  </ul>
</table>
</div>
<div class="container">
 <div class="row">
   <h2 align ="center">Request Help</h2>
 </div>
</div>
{% endblock %}
