{% block content_body %}

	{% include "user_dashboard/index.html" %}

	<form action="{% url 'raise_request' %}" method="post">{% csrf_token %}
		<div class="form-group">
			<label for="user_name">*Name</label>
			<input type="text" class="form-control" id="user_name" placeholder="Enter your Name" name="user_name" required>
		</div>
		<div class="form-group">
			<label for="mobile">Mobile Number</label>
			<input type="mobile" class="form-control" id="mobile" placeholder="Enter mobile number" name="mobile">
		</div>
		<div class="form-group">
			<label for="severity">*Severity</label>
			<select class="form-control" id="severity" name="severity" required>
			<option>Minor</option>
			<option>Major</option>
			<option>Critical</option>
		  </select>
  	 </div>
		<div class="form-group">
			<label for="injured_count">*Number of persons injured</label>
			<input type="number" class="form-control" id="injured_count" min="1" placeholder="Enter the count of injured persons" name="injured_count" required>
		</div>
		<div class="form-group">
      <label for="status">Status:</label>
      <select class="form-control" id="status" name="status" required>
        <option>Pending</option>
				<option>Accepted</option>
				<option>Progress</option>
				<option>Completed</option>
      </select>
		</div>
		<div class="form-group">
				<label for="address">Location</label>
		 <input type="text" class="form-control" id="address_1" placeholder="Address 1" name="address_1" required><br>
		 <input type="text" class="form-control" id="address_2" placeholder="Address 2" name="address_2"><br>
		 <input type="text" class="col-sm-2 form-control" id="city" placeholder="City" name="city" style="width: 49%" required>
		 <input type="text" class="col-sm-2 form-control" id="state" placeholder="State" name="state" style="width: 49%; left: 2%;" required><br><br><br>
		 <input type="text" class="col-sm-2 form-control" id="pincode" placeholder="Pincode" name="pincode" style="width: 49%" required>
		 <input type="text" class="col-sm-2 form-control" id="country" placeholder="country" name="country" style="width: 49%; left: 2%;" required><br><br>
		</div>
	 <div align="center">
	 	<button type="submit" class="btn btn-default" style="margin-left;">Submit</button>
   	<button type="reset" class="btn btn-default" style="margin-left;">Reset</button>
  </div>
  </form>
{% endblock %}
