{% block content_body %}



<table>
  <tr>
    <th>Request id</th>
    <th>status</th>
    <th>Count of injured</th>
  </tr>
  <tr>
    <td>req10</td>
    <td>pending</td>
    <td>1</td>
  </tr>

  <tr>
    <td>req9</td>
    <td>progress</td>
    <td>2</td>
  </tr>

  <tr>
    <td>req8</td>
    <td>Completed</td>
    <td>1</td>
  </tr>

  <tr>
    <td>req7</td>
    <td>pending</td>
    <td>1</td>
  </tr>

  <tr>
    <td>req6</td>
    <td>completed</td>
    <td>1</td>
  </tr>

  <tr>
    <td>req5</td>
    <td>completed</td>
    <td>2</td>
  </tr>

  <tr>
    <td>req4</td>
    <td>completed</td>
    <td>1</td>
  </tr>

  <tr>
    <td>req3</td>
    <td>completed</td>
    <td>1</td>
  </tr>

  <tr>
    <td>req2</td>
    <td>completed</td>
    <td>1</td>
  </tr>

  <tr>
    <td>req1</td>
    <td>completed</td>
    <td>2</td>
  </tr>
</table>
{% endblock %}
