{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Life Alert Service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS IMPORTS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/view_profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">


    <script type="text/javascript" src="{% static 'js/user_reg.js' %}"></script>

    <!-- JS IMPORTS -->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/load_map.js' %}"></script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvtcqJOV0KY-08Ot_-ghGG_VPyXg2LSjU&callback=initMap">
    </script>

  </head>
  <body>

    <nav class="navbar navbar-default navbar-custom">
        <div class="row">
          <div class="col-md-2">
          <ul class="nav navbar-nav">
              <li class="las-logo"><a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}"></a></li>
            </ul>
          </div>

          {% if request.user.is_authenticated %}<div class="col-md-7 las-header"> {% else %}<div class="col-md-8 las-header">{% endif %}
            <ul class="nav navbar-nav">
              <li><a href="{% url 'index' %}">Home</a></li>
              {% if not request.user.is_authenticated %}
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'overview' %}">Overview</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
              {% endif %}
            </ul>
          </div>

          {% if request.user.is_authenticated %}
            <div class="col-md-1 las-header" style="padding: 15px;">
              <ul class="nav navbar-nav">
                <li class="logged_user"> {{ request.user.first_name }} </li>
              </ul>
            </div>
            <div class="col-md-1 las-header" style="left: 35px;">
              <ul class="nav navbar-nav">
                <a href="{% url 'view_profile' %}" class="btn btn-primary btn-md" style="margin-left:-13px;">view profile</a>
              </ul>
            </div>
            <div class="col-md-1 las-header">
              <ul class="nav navbar-nav">
                <a href="{% url 'user_logout' %}" class="btn btn-primary btn-md">Logout</a>
              </ul>
            </div>


            {% else %}
            <div class="col-md-2 las-header">
              <ul class="nav navbar-nav">
                <li>
                  <div class="dropdown">
                  <button type="button" class="btn btn-primary btn-md dropdown-toggle" data-toggle="dropdown">Login
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li class="loginSelect"><a data-toggle="modal" data-target="#userModal">User</a></li>
                      <li class="loginSelect"><a data-toggle="modal" data-target="#hospitalModal">Hospital</a></li>
                    </ul>
                </li>
                <!--dropdown for register button-->
                <li>
                  <div class="dropdown">
                    <button class="btn btn-primary btn-md dropdown-toggle"  type="button" data-toggle="dropdown">Register
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li class="registerSelect"><a href="{% url 'user_registration' %}">User</a></li>
                        <li class="registerSelect"><a href="{% url 'hospital_registration' %}">Hospital</a></li>
                      </ul>
                    </div>
                </li>
              </ul>
            </div>
          {% endif %}
        </div>
    </nav>

    <div class="container">
      {% block content_body %}<h1>Home Page</h1>{% endblock %}
    </div>
    <div class="footer navbar-fixed-bottom las-footer">
      <h4>&copy; LAS 2018, All Rights Reserved.</h4>
    </div>

    <div class="container">
      {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}
       <!-- Modal for user login-->
      <div class="modal fade" id="userModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">User Login<button type="button" class="close" data-dismiss="modal">&times;</button></h3>
            </div>
            <div class="modal-body">
              <div class="container">
                <form action="{% url 'login' %}" method="post"> {% csrf_token %}
                  <div class="form-group">
                    <label for="usr"><h3>Email:</h3></label>
                    <input type="text" class="form-control" id="user_email" placeholder="Email" name="email" required>
                  </div>
                  <div class="form-group">
                    <label for="user_password"><h3>Password:</h3></label>
                    <input type="password" class="form-control" id="user_password" placeholder="Enter password" name="password" required>
                  </div>
                  <center>
                    <button type="submit" class="btn btn-default forn-control">Sign In</button>
                    -OR-
                    <a class="btn btn-default" href="{% url 'social:begin' 'google-oauth2' %}">Sign In Using Google</a><br>
                  </center>
                </br>
              </br>
                  <a href="{% url 'reset_password' %}">Forgot password??</a>

                </form>

            </div><br>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Modal for hospital Login-->
    <div class="modal fade" id="hospitalModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Hospital Login<button type="button" class="close" data-dismiss="modal">&times;</button></h3>
          </div>
          <div class="modal-body">
               <!--login form-->
            <div class="container">
              <form action="{% url 'login' %}" method="post"> {% csrf_token %}
                <div class="form-group">
                  <label for="hosp_id"><h3>Hospital Id</h3></label>
                  <input type="text" class="form-control" id="hosp_id" placeholder="Enter your Registration Id" name="hos_reg_id" required>
                </div>
                <div class="form-group">
                  <label for="hosp_password"><h3>Password</h3></label>
                  <input type="password" class="form-control" id="hosp_password" placeholder="Enter password" name="password" required>
                </div>
                <center>
                  <button type="submit" class="btn btn-default">Login</button>
                </center>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  </body>
</html>
