{% extends "base.html" %}

{% block content_body %}
<h1 align="center">What exactly is LIfe Alert Service??</h1><br/><br/>
<h4 align="center">
  <i>
  Hi!!<br/><br/>
  The moto behind our website is <br/><br/>
  to reduce the delay of moving injured persons to the hospital.<br/><br/>
  <b>Life Alert Service</b> allows user as well as hospital to <br/><br/>
  register and login via <b>Register</b> and <b>Login</b> buttons on top-right-corner.<br/><br/>
  It allows user to request help in case of Emergency<br/><br/>
  LAS automatically finds out the location of the user<br/><br/>
  The location of registered hospitals near by victim's location is displayed to the user

</h4>
</i>
{% endblock %}
