.btn {
  margin-left:10px;
  padding:14px 12px;
  border-radius: 12px;
  background-color: #083b66;
  color: white;
}
.btn:hover{
  background-color: #55c6c9;
  color: white;
}
.btn-default{
  padding:10px 20px;
}
.form-control{
  width: 500px;
}
.container{
     display: table;
     max-width:1200px;
     width:auto;
     margin:0 auto
}

.las-logo img{
    height: 126px;
    padding: 0px 45px 0px;
    width: 250px;
}

.las-header {
    padding-top: 20px;
}
