.navbar-fixed-left {
  width: 200px;
  position: fixed;
  border-radius: 0;
  height: 100%;

}
.navbar-nav-fixed-left{
  padding-right: 1000px;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}
.navbar-fixed-left + .container {
  padding-left: 160px;
}
.navbar-inverse {
    background-color: teal;
    border-color: #080808;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: black;

}
.navbar-fixed-left .navbar-nav > li >a {
  /* Cancel default li float: left */
  width: 200px;
  padding-left: 50px;
  padding-top: 100px;
}
.navbar-fixed-left {
    width: 200px;
    position: fixed;
    border-radius: 0;
    height: 80%;
    margin-right: 1000px;
    margin-inline-start: -436px;
}